<mat-card class="card">
    <mat-card-header>
        <mat-card-title>Mangilal Welcome</mat-card-title>
        <mat-card-subtitle>Angular 16 Material UI Developer</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSr3A0p-O3UNqtCJJNW8_F6lHNnw_Wrs8V3cgT-18iqxg&s" alt="">
    <mat-card-content>
        <p>
            Angular is a TypeScript-based, free and open-source single-page web application framework led by the 
            Angular Team at Google and by a 
            community of individuals and corporations. Angular is a complete 
            rewrite from the same team that built AngularJS.
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button><mat-icon>thumb_up</mat-icon>Like</button>
        <button mat-button><mat-icon>share</mat-icon>Share</button>
    </mat-card-actions>
    <mat-card-footer></mat-card-footer>
</mat-card>

<mat-card class="card">
    <mat-card-header>
        <mat-card-title>Mangilal Welcome</mat-card-title>
        <mat-card-subtitle>Angular 16 Material UI Developer</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-sm-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSr3A0p-O3UNqtCJJNW8_F6lHNnw_Wrs8V3cgT-18iqxg&s" alt="">
    <mat-card-content>
        <p>
            Angular is a TypeScript-based, free and open-source single-page web application framework led by the 
            Angular Team at Google and by a 
            community of individuals and corporations. Angular is a complete 
            rewrite from the same team that built AngularJS.
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button><mat-icon>thumb_up</mat-icon>Like</button>
        <button mat-button><mat-icon>share</mat-icon>Share</button>
    </mat-card-actions>
    <mat-card-footer></mat-card-footer>
</mat-card>

<mat-card class="card">
    <mat-card-header>
        <mat-card-title>Mangilal Welcome</mat-card-title>
        <mat-card-subtitle>Angular 16 Material UI Developer</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-md-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSr3A0p-O3UNqtCJJNW8_F6lHNnw_Wrs8V3cgT-18iqxg&s" alt="">
    <mat-card-content>
        <p>
            Angular is a TypeScript-based, free and open-source single-page web application framework led by the 
            Angular Team at Google and by a 
            community of individuals and corporations. Angular is a complete 
            rewrite from the same team that built AngularJS.
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button><mat-icon>thumb_up</mat-icon>Like</button>
        <button mat-button><mat-icon>share</mat-icon>Share</button>
    </mat-card-actions>
    <mat-card-footer></mat-card-footer>
</mat-card>

<mat-card class="card">
    <mat-card-header>
        <mat-card-title>Mangilal Welcome</mat-card-title>
        <mat-card-subtitle>Angular 16 Material UI Developer</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-lg-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSr3A0p-O3UNqtCJJNW8_F6lHNnw_Wrs8V3cgT-18iqxg&s" alt="">
    <mat-card-content>
        <p>
            Angular is a TypeScript-based, free and open-source single-page web application framework led by the 
            Angular Team at Google and by a 
            community of individuals and corporations. Angular is a complete 
            rewrite from the same team that built AngularJS.
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button><mat-icon>thumb_up</mat-icon>Like</button>
        <button mat-button><mat-icon>share</mat-icon>Share</button>
    </mat-card-actions>
    <mat-card-footer></mat-card-footer>
</mat-card>


